.has_fade {
  visibility: hidden;
}

@-webkit-keyframes fade_in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade_in {
  -webkit-animation: fade_in 300ms ease-in-out forwards;
          animation: fade_in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade_out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade_out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade_out {
  -webkit-animation: fade_out 300ms ease-in-out forwards;
          animation: fade_out 300ms ease-in-out forwards;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.hero {
  background: #FDFFEB;
  opacity: 0.8;
  height: 100%;
  min-height: 720px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.hero__text {
  text-align: center;
}

.hero__text h1 {
  font-weight: 700;
  font-size: 1.575rem;
  line-height: 1.15;
  color: #083D77;
  padding-top: 1.5rem;
}

.hero__text h2 {
  font-weight: 500;
  font-size: 1.175rem;
  line-height: 1.15;
  color: #083D77;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero__text p {
  line-height: 1.5;
  margin-bottom: 2.75rem;
  color: #636363;
  max-width: 95%;
  margin: 1.75rem auto;
}

#cerrar {
  position: absolute;
  top: 40px;
  right: 45px;
  font-size: 35px;
  cursor: pointer;
  color: #636363;
  z-index: 1;
}

.comenzar {
  background: rgba(63, 63, 63, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.comenzar__envoltura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 950px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.comenzar__envoltura.mostrar {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.comenzar__primero {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  background: #FDFFEB;
  z-index: -1;
}

.comenzar__primero ::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.comenzar__primero ::before {
  content: "";
  position: absolute;
  background-image: url("/images/weight-loss-opacity.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 50px;
  opacity: .5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.comenzar__primero h2 {
  font-family: 'Chiller';
  font-size: 80px;
  margin-bottom: 2px;
  color: #636363;
  z-index: 1;
}

.comenzar__primero p {
  font-size: 30px;
  font-weight: 300;
  margin-top: 2px;
  color: #EBEBD3;
}

.comenzar__primero-bordes {
  width: 100%;
  height: 5%;
  background: #eaeec38c;
}

.comenzar__primero-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comenzar__primero-info margin
h2 {
  font-weight: 500;
  font-size: 40px;
  color: #636363;
  margin: 0px 0px 0px 40px;
}

.comenzar__primero-info h4 {
  font-weight: 500;
  font-size: 30px;
  color: #636363;
  margin-bottom: 15px;
}

.comenzar__primero-info p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
}

.mostrar {
  visibility: visible;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #F4D35E;
  line-height: 1.3;
}

h1, h2, h3 {
  margin-top: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

ul,
ol {
  margin-bottom: 2.5rem;
}

ul {
  list-style: none;
}

.container {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(202, 83, 89, 0.87)), to(rgba(167, 52, 57, 0.533)));
  background: linear-gradient(to right, rgba(202, 83, 89, 0.87), rgba(167, 52, 57, 0.533));
  border: 0;
  cursor: pointer;
  color: black;
  font-weight: 700;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 63.9375em) {
  .hide_for_mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide_for_desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.header .overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 3.75rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F4D35E), to(transparent));
  background-image: linear-gradient(#F4D35E, transparent);
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  height: 1.375rem;
  width: 8.8125rem;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #EBEBD3;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 3px;
}

.header__menu a {
  display: block;
  color: #083D77;
  padding: 0.625rem;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #A73439;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 61, 119, 0.87)), to(rgba(83, 161, 243, 0.533)));
  background: linear-gradient(to right, rgba(8, 61, 119, 0.87), rgba(83, 161, 243, 0.533));
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__links a:hover {
  color: #083D77;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__cta {
  font-size: 0.875rem;
  color: black;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__cta:hover {
  opacity: 0.75;
}

#header {
  position: flex;
  top: 8%;
  right: 0;
  left: 25%;
  width: 13px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%) scale(2);
          transform: translateY(-50%) scale(2);
}

#header.open .overlay {
  display: block;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

#header__menu_button {
  width: 39px;
  overflow: hidden;
}

#header__menu_checkbox {
  display: none;
}

#header__menu_label {
  position: relative;
  display: block;
  height: 23px;
  cursor: pointer;
}

#header__menu_label:before, #header__menu_label:after, #header__menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

#header__menu_label:before, #header__menu_label:after {
  content: '';
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#header__menu_label:before {
  top: 0;
}

#header__menu_label:after {
  top: 12px;
}

#header__menu_text_bar {
  top: 24px;
}

#header__menu_text_bar:before {
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#header__menu_checkbox:checked + #header__menu_label:before {
  left: -39px;
}

#header__menu_checkbox:checked + #header__menu_label:after {
  left: 39px;
}

#header__menu_checkbox:checked + #header__menu_label #header__menu_text_bar:before {
  -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
          animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

.cuidate__image {
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
  min-height: 11rem;
}

.cuidate__text {
  text-align: center;
}

.cuidate__text h1 {
  font-weight: 700;
  font-size: 1.575rem;
  line-height: 1.15;
  color: #083D77;
}

.cuidate__text p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: #636363;
}

.cuidate__cta {
  margin-top: 30px;
}

.secciones__primera {
  background: #EBEBD3;
  opacity: 0.9;
  height: 100%;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.secciones__segunda {
  background: #9E9E7E;
  opacity: 0.9;
  height: 100%;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.secciones__tercera {
  background: #E6EBB0;
  opacity: 0.9;
  height: 100%;
  min-height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.secciones__cuarta {
  background: #EBC9C7;
  height: 100%;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.precio {
  font-size: 30px;
  text-align: right;
  font-weight: 800;
  margin-bottom: 0;
}

.precio__linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centrar__A {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 50px 0px;
}

.centrar__B {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.listadoServicios {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  z-index: 1;
}

.fondoBody {
  background: url("/images/bodyFondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.9;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: -800%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}
/*# sourceMappingURL=style.css.map */