.cuidate {

  &__image {
    position: relative;
    background-image: url('/images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left left;
    min-height: 11rem;
  }

  &__text {
    text-align: center;

      h1 {
        font-weight: 700;
        font-size: 1.575rem;
        line-height: 1.15;
        color: $indigoDye;
        // margin-bottom: 1.5rem;
      }

      p {
        line-height: 1.5;
        margin-bottom: 2.25rem;
        color: $textCarbon;
      }
  }

  &__cta {
    margin-top: 30px;
  }

}

.secciones {

  &__primera {

    background: $beige;
    opacity: 0.9;
    height: 100%;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

  }

  &__segunda {

    background: $segunda;
    opacity: 0.9;
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

  }

  &__tercera {

    background: $tercera;
    opacity: 0.9;
    height: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }

  &__cuarta {

    background: $cuarta;
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

}

.precio {
  font-size: 30px;
  text-align: right;
  font-weight: 800;
  margin-bottom: 0;

  &__linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.centrar {

  &__A {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
  }

  &__B {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.listadoServicios {

  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  z-index: 1;

}

.fondoBody {
  background: url('/images/bodyFondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.9;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: -300%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
 }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
 }

.u-pull-right {
  float: right;
 }

.u-pull-left {
  float: left;
 }

