.hero {

  background: $fondos;
  height: 100%;
  min-height: 300px;

  &__image {
    // position: relative;
    // background-image: url('/images/man-weight-loss.svg');
    // background-repeat: no-repeat;
    // background-position: center center;
    // width: 100%;
    // xcheight: 100%;
    // min-height: 20rem;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 144px;
    //   height: 144px;
    //   background-image: url('/images/nutricion-organica.svg');
    //   background-repeat: no-repeat;
    //   background-position: center center;
    // }
  }

  &__text {
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 1.575rem;
      line-height: 1.15;
      color: $indigoDye;
      padding-top: 1.5rem;
      // margin: 1.5rem 0rem;
    }

    h2 {
      font-weight: 500;
      font-size: 1.175rem;
      line-height: 1.15;
      color: $indigoDye;
      padding-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.5;
      margin-bottom: 1.25rem;
      color: $textCarbon;
    }
  }
}