// Colores

$indigoDye: #083D77;
$sweetBrown: #A73439;
$cottonCandy: #F9B3D1;
$orangeYellow: #F4D35E;
$beige: #EBEBD3;
$textCarbon: #636363;
$fondos: #FDFFEB;
$bordes: #eaeec38c;
$segunda: #9E9E7E;
$tercera: #E6EBB0;
$cuarta: #EBC9C7;


// Fuente
$font-med: 1.125rem;
$font-sm: 0.875rem;
$font-hd: 1.406rem;
